  {% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Article List</title>
	<link rel="stylesheet" type="text/css" href="{% static 'style.css'%}">
</head>
<body>

	<div class="wrapper">
	<h1><a href="{% url 'articles:list'%}"><img src="{% static 'logo.png' %}" alt="logo here"></a></h1>
	<nav>
		<ul>
			<li>
				<form class="logout-link" action="{% url 'accounts:logout' %}" method="POST">
					{% csrf_token %}
					<button type="submit">Logout</button>
				</form>
			</li>
		</ul>
	</nav>
	{% block content %}
	{% endblock%}
		
	</div>
</body>
</html>